{% extends 'base.html' %}

<h1>Home</h1>

{% block body %}
	<audio controls loop autoplay="{{ audio.audio_file.url }}">
    		<source src="{{ audio.audio_file.url }}" type="audio/mp3">
	</audio>
<div class="container">
	<div class="col-md-8">
		<h1>Welcome to OsakiTenka!</h1>
			<a href= "{% url 'search_item' %}">
				<h3>Click Here To Search For Item</h3>
			</a>
			<style> ul#categories li { display:inline; } </style>
			<ul id="categories">
				<li> <a href = "{% url 'item-list' %}"> All Items </a></li>
				<li > General </li>
				<li > Food </li>
				<li > Electronics </li>
				<li > Misc </li>
			</ul>
			<h1>Popular Items</h1>
			{% for itm in items %}
				{% for itmimg in itemimg %}
				{% if itmimg.product == itm %}
					<a href="{% url 'view_item' pk=itm.id %}">
						<div><img src="{{ itmimg.image.url }}" width="200"></div>
					</a>
				{% endif %}
				{% endfor %}
				<p>Title: {{ itm.title }} </p>
				<p>Description: {{ itm.description }}</p>
				<p>Price: ${{ itm.price }}</p>
			{% endfor %}
			<h1>New Items</h1>
			{% for itm in newitems %}
				{% for itmimg in itemimg %}
				{% if itmimg.product == itm %}
					<a href="{% url 'view_item' pk=itm.id %}">
						<div><img src="{{ itmimg.image.url }}" width="200"></div>
					</a>
				{% endif %}
				{% endfor %}
				<p>Title: {{ itm.title }} </p>
				<p>Description: {{ itm.description }}</p>
				<p>Price: ${{ itm.price }}</p>
			{% endfor %}
	</div>
</div>
{% endblock %}