{% extends 'base.html' %}

{% block head %}
<title>Friends</title>
{% endblock %}

{% block body %}
<div class="container">
	<a href= "{% url 'search_user' %}">
		<h1>Click Here To Search For User</h1>
	</a>
	<h2>Friends</h2>
		{% for friend in friends %}
			<a href="{% url 'view_profile_with_pk' pk=friend.pk %}">
				<h3>{{ friend.username }}</h3>
			</a>
			<button type="button" class="btn btn-Success">Discount</button>
			<a href="{% url 'friend_message' pk=friend.pk %}">
				<button type="button" class="btn btn-Primary">Message</button>
			</a>
			<a href="{% url 'change_friend' operation='remove' pk=friend.pk %}">
				<button type="button" class="btn btn-danger">Remove</button>
			</a>
		{% endfor %}
	<h2>Friend Request Send</h2>
		{% for req in frequest %}
		{% if not req.is_approved %}
			<a href="{% url 'view_profile_with_pk' pk=req.request_user.pk %}">
				<h3>{{ req.request_user.username }}</h3>
			</a>
				<p> Request Pending... </p>
			</a>
		{% endif %}
		{% endfor %}
</div>
{% endblock %}