{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class='container'>
	<br>
	<h1>Profile</h1>
	<p>Username: {{ user }}</p>
	<p>First Name: {{ user.first_name }}</p>
	<p>Last Name: {{ user.last_name }}</p>
	<p>Email: {{ user.email }}</p>
	<p>Address: {{ profile.address }}</p>
	<p>Credit Card Number: {{ profile.credit_card_number }}</p>
	<p>Phone Number: {{ profile.phone_number }}</p>
	{% if profile.image %}
		<div><img src="{{ profile.image.url}}" width="480"></div>
	{% endif %}
	<br>
	<button type="button" class="btn btn-link">
		<a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
	</button>
	<button type="button" class="btn btn-link">
		<a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
	</button>
</div>
{% endblock %}