<html>
	<head>
		<link rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
		crossorigin="anonymous">
		
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		{% block head %}
		<title>OsakiTenka</title>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand navbar-dark bg-dark">
			<a class="navbar-brand" href="/home/">OsakiTenka</a>
			<div class="collapse navbar-collapse" id="navbarsExample02">
			{% if user.is_authenticated %}
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'view_profile' %}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'friend_list' %}">Friends</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'notify' %}">Notifications</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'submit_item' %}">Sell</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li>
			</ul>
			{% else %}
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'reset_password' %}">Forgot Password</a>
				</li>
			</ul>
			{% endif %}
			{% if request.user.is_superuser %}
				<li><a href = "/admin"> Admin Panel</a></li>
			{% endif %}
			</div>
		</nav>
		{% block body %}
			<h1>Base</h1>
		{% endblock %}
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</html>